.body2  {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(facedpage.gif);
    background-size: 1500px ;
  }

  canvas {
    position: absolute;
  }

  .body1{
    background-image: url(backg.gif);
    background-size: 1500px;
    align-items: center;
   
  }
 h1{
      font-size: 400%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
     
  }
.click{
    font-size: 300%;
      color: red;
      display: flex;
      justify-content: center;
      align-items: center;

}
h3{
    font-size: 500%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px auto;
}
.container{
    min-height: 75vh;
   
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    

    height :fit-content;
}
p { margin:0;
    color: white;
    font-family: Gill Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0;
}
.bottom{
    position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     color: white;
     height: 200px;
}
.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: larger;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  p2{
     margin:0;
        color: white;
        font-family: Gill Sans;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0;
    
  }
  span{
      color: red;
      font-size: 30px;
  }
  .a2{
      color: greenyellow;
  }

  p3{
    margin:0;
    color: white;
    font-family: Gill Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0;

  }
 .body3{

    background-image: url(contactp.gif);
    background-size: 1000px ;}
